body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}


/* navbar */
.navbar{
    background: #00a86b;
    margin: 0;
    padding: 20px 30px;
}


.logo{
    font-size: 14pt;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tombol{
    display: none;
    color: white;
    font-size: 14pt;
}

.tombol :hover{
    cursor: pointer;
}

.menu{
    margin: 0;
    display: flex;
    list-style: none;
    padding: 0;
}

.menu li{
    padding-left: 0;
    margin-right: 10pt;
}

.menu a{
    padding: 10px;
    color: white;
    text-decoration: none;
    display: inline-block;
}
/* navbar */

/* bg */
.bg{
width: 10%;
height: 80%;
position: absolute; 
left: 0;
z-index: -1;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.bg img{
    width: 205vh;
    height: 100vh;
    /* opacity: 80%; */
    
}

/* bg */

/* btn */
.btn {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    text-decoration: none;
}

.btn a {
    text-decoration: none;
    width: 100%;
}

button {
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color:  white;
    box-shadow: black 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    width: 20%;
    cursor: pointer;
    
    
}

button:hover {
    letter-spacing: 3px;
    background-color:  #00a86b;
    color: black;
    box-shadow: white 0px 7px 29px 0px;
}

button:active {
    letter-spacing: 3px;
    background-color:  white;
    color: black;
    box-shadow: #00a86b 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}
/* btn */

/* content */
.content1{
    position:relative;
    text-align: center;
    justify-content: center;
    font-family: poppins;
    margin: 10px;
    margin-top: 200px;
    padding: 60px;
    bottom: 70%;
}

.content1 h1{
    font-size: 40px;
    font-weight: bold;
    color: white;
    background-color: #00a86b;
    border-radius: 8px;
    display: block;
}

.content1 h3{
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color:#00a86b ;
    opacity: 85%;
    display: inline;
    border-radius: 8px;
}
/* content */


/* section */
.content2{
    text-align: center;
    justify-content: center;
    color:black;
    padding: 10px;
    margin: 200px;
    margin-top: 500px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: #00a86b;
    opacity: 70%;
    display: block;
}
   .section{
    margin: 100px; 
    padding: 100px;

   }

   .content2 h1{
    font-size: 40px;
   }
/* section */


/* kategori */
.kategori{
   display: flex;


}
.kotak{
  padding: 70px;  
  border-radius: 20px;
  margin-left: 10px;
  height: 400px;
  background-color: rgb(192, 192, 192);
  flex: 1;
  transition: .3s all ease;
  justify-content: center;
  text-align: center;

}

.kotak:hover{
    flex: 2;
    background-color:aquamarine;

}

.kotak img{
    padding: 10px;
    width: 30vh;
    border-radius: 8px;
    justify-content: center;
    margin-left: 10px;
   
}

h1{
    justify-content: center;
    text-align: center;
    flex: 1;
    font-size: 40px;

}

/* kategori */





